SHELL=/bin/bash
PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin

* * * * * python3 /root/c-f2b/readdb.py >> /var/log/cronRun.log 2>&1

# On machine hosting the DB run the following each hour to update old records to old status
01 * * * * python3 /root/c-f2b/setold.py >> /var/log/cronRun.log 2>&1
